<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nsf.esarplab.scchealth">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".cBaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/flogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FluAlgorithm"
            android:label="Test Methods"
            android:parentActivityName=".FluActivity"/>
        <activity android:name=".About"
            android:label="@string/category_about"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".ArrhythmiaActivity"
            android:label="Arrhythmia"
            android:parentActivityName=".LabActivity"/>
        <activity android:name=".AsthmaActivity"
            android:label="COPD"
            android:parentActivityName=".LabActivity"/>
        <activity android:name=".AutoConnectActivity" />
        <activity android:name=".BluetoothActivity"
            android:label="Bluetooth Settings"
            android:parentActivityName=".BluetoothActivity"/>
        <activity android:name=".BluetoothPair"
            android:label="Bluetooth"
            android:parentActivityName=".GeneralSettingsActivity"/>
        <activity android:name=".CloudActivity" />
        <activity android:name=".ConnectionSettingsActivity" />
        <activity android:name=".DB_login"
            android:label="Settings Login"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".DeviceListActivity" />
        <activity android:name=".DisplayContact"
            android:label="Details"
            android:parentActivityName=".ProfileActivity"/>
        <activity android:name=".FluActivity"
            android:label="Flu"
            android:parentActivityName=".LabActivity"/>
        <activity android:name=".FluMethods"
            android:label="Ranking Methods"
            android:parentActivityName=".FluActivity"/>
        <activity android:name=".GeneralSettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".GraphActivity" />
        <activity android:name=".HomeActivity"
            android:label="Facilities"
            android:parentActivityName=".WelcomeActivity"/>
        <activity android:name=".LabActivity"
            android:label="Diagnostics"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".ListenerActivity" />
        <activity android:name=".oneStopService"
            android:label="OSS"
            android:parentActivityName=".LabActivity"/>
        <activity android:name=".ProfileActivity"
            android:label="User Profiles"
            android:parentActivityName=".GeneralSettingsActivity"/>
        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".ShowWebChart" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".SimpleActivity" />
        <activity android:name=".SleepApnea"
            android:label="Sleep Apnea"
            android:parentActivityName=".LabActivity"/>
        <activity android:name=".Temp_HistoryActivity"
            android:label="Temperature Log"
            android:parentActivityName=".FluActivity"/>
        <activity android:name=".TerminalActivity"
            android:label="Bluetooth Terminal"
            android:parentActivityName=".BluetoothActivity"/>
        <activity android:name=".TestActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".WifiActivity"
            android:label="Manual Sharing"
            android:parentActivityName=".GeneralSettingsActivity" />
        <receiver android:name=".Notification_receiver" />
    </application>

</manifest>